body{
padding: 0;
margin: 0;
font-family: Aria;
}
header{
width: 100%;
height: 100px;
background: gray;
text-align:right ;
}
ul{
	margin: 0;
}
ul li{
	display: inline-block;
	margin-right:100px ;
}
ul li a{

text-decoration: none;
font-size:39px ;
line-height: 100px;
color: #333;
}
ul li a:hover {
color:orange ;
border-bottom: 1px solid orange;
text-shadow: 0px 1px 1px black;
}
section{
width: 100%;
height:85.3vh ;
background:linear-gradient(#4287f5,#6690d1)   ;
}
#mink{
width:409px ;
position: absolute;
top: 420px;
left: 100px;	
}
#minkv3{
width:409px ;
position: absolute;
top: 420px;
left: 1400px;



}


h1{
margin-top:0 ;
text-align:center ;
top:300px ;
font-size: 80px;	
color:#b59464 ;
}
#Sharkv1{
font-size: 30px;
position: absolute;
top: 200px;
left: 25px;

}

#Sharkv2{
font-size: 30px;
position: absolute;
top: 240px;
left: 25px;

}
#Sharkv3{
font-size: 30px;
position: absolute;
top: 310px;
left: 25px;

}
footer{
background: gray;
color: #b59764;
font-size: 30px;
text-align:center ;

}